button {
  background-color: #202020;
  border-radius: 5px;
  color: white;
  border: none;
  margin: 5px;
  padding: 5px;
}

button:disabled {
  background-color: #868686;
  color: rgb(70, 70, 70);
}

button:active {
  position: relative;
  top: 0.1em;
  left: 0.1em;
}

.btn {
  background-color: #202020;
  border-radius: 5px;
  color: white;
  border: none;
  margin: 5px;
  padding: 5px;
}

.btn:hover {
  background-color: white;
  border: 1px solid #202020;
  color: black;
}
