.navbar {
  font-size: 1.2rem;
  display: flex;
  justify-content: flex-start;
  width: 50rem;
  position: absolute;
  top: 0;
  left: 0;

  a {
    &:hover {
      color: $color-primary !important;
    }
  }

  @media (min-width: 700px) {
    font-size: 1.6rem;
  }
}
