body,
html {
  max-width: 100%;
  overflow-x: hidden;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  color: #000;
  margin: 0;
  padding: 0;
}

p,
h3 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #202020;
}

button {
  background-color: #202020;
  border-radius: 5px;
  color: white;
  border: none;
  margin: 5px;
  padding: 5px;
}

button:disabled {
  background-color: #868686;
  color: #464646;
}

button:active {
  position: relative;
  top: 0.1em;
  left: 0.1em;
}

.btn {
  background-color: #a41320;
  border-radius: 5px;
  color: #fff;
  border: none;
  margin: 5px;
  padding: 5px;
}

.btn:hover {
  background-color: #fff;
  border: 1px solid #a41320;
  color: #a41320;
}

.get-started-btn {
  height: 1.5rem;
  width: 7rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 700px) {
  .get-started-btn {
    text-align: center;
    height: 2rem;
    width: 8rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.navbar {
  font-size: 1.2rem;
}
@media (min-width: 700px) {
  .navbar {
    font-size: 1.6rem;
  }
}

#rifftube-player {
  max-width: 95vw;
  /*
  width: 70vw;
  height: 42.5vw;
  */
}

.ytp-cued-thumbnail-overlay {
  max-width: 100%;
}

.rifftube-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.audio-capture {
  position: absolute;
  width: 100%;
  height: 390px;
  line-height: 390px;
  top: 0;
  text-align: center;
}

.rifftube-overlay {
  position: absolute;
  width: 100%;
  height: 390px;
  line-height: 390px;
  top: 0;
  text-align: center;
  pointer-events: none;
}

.rifftube-riffs-container {
  display: inline-block;
  vertical-align: middle;
  width: 640px;
  font: 36pt serif;
  background-color: rgba(255, 255, 255, 0.33);
}

.title-and-url {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: flex-start;
}

.App {
  margin: 0;
  padding: 0;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.control-panel {
  background-color: #202020;
  width: 100%;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-riff {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #202020cc;
  text-align: center;
  color: #202020;
}

.edit-riff-inner {
  margin: 20% auto;
  padding: 1em;
  background-color: #919191;
  width: 50%;
  font-size: 2em;
  box-shadow: 0 0 1em red;
}

.edit-riff button {
  font-size: 1em;
}

.list-of-riffs {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: auto;
}

.riff-detail {
  border: 2px solid white;
  border-radius: 5px;
  padding: 30px;
  margin-bottom: 10px;
  width: 150px;
  margin: 20px;
}

.riff-detail-list {
  list-style: none;
}

.riff-list-title {
  text-align: center;
}

.riff-detail-selected {
  background-color: lightskyblue;
}

@media (min-width: 1020px) {
  .App {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
  }

  .main-section {
    height: 100%;
    min-height: 100vh;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }

  .youtube-section {
    /*width: 70%;*/
    margin: 0 auto;
  }

  .control-panel {
    height: 100%;
    min-height: 100vh;
    max-height: 100vh;
    width: 30%;
    margin-top: 0;
    scrollbar-color: white;
  }
}
nav {
  color: #55596d;
  margin: 1rem;
}
nav a {
  margin: 1rem;
}

.top-part {
  background-color: #fff;
  width: 100vw;
  height: 22rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
}
@media (min-width: 700px) {
  .top-part {
    height: 43rem;
  }
}
@media (min-width: 1000px) {
  .top-part {
    margin-top: 5rem;
    height: 40rem;
  }
}
.top-part .heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top-part .heading .heading-primary-main {
  font-size: 2rem;
  color: #55596d;
  font-weight: 700;
}
@media (min-width: 700px) {
  .top-part .heading .heading-primary-main {
    font-size: 4rem;
  }
}
.top-part .heading .heading-primary-sub {
  width: 15rem;
  text-align: center;
  font-size: 1.2rem;
  color: #55596d;
}
@media (min-width: 700px) {
  .top-part .heading .heading-primary-sub {
    font-size: 1.8rem;
    width: 19rem;
  }
}

.middle-part {
  width: 100vw;
  height: 90rem;
  text-align: center;
  display: flex;
  font-size: 1.2rem;
  align-items: center;
  flex-direction: column;
  background-color: #121212;
  color: #fff;
  padding-top: 5rem;
}
@media (min-width: 1000px) {
  .middle-part {
    height: 50rem;
  }
}
.middle-part .features {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  font-size: 1.2rem;
}
@media (min-width: 1000px) {
  .middle-part .features {
    flex-direction: row;
    justify-content: center;
  }
}
.middle-part .features .feature {
  width: 15rem;
  text-align: center;
  margin: 2rem;
}
.middle-part .features .feature h3 {
  color: #55596d;
  font-weight: bold;
}
.middle-part .middle-text {
  text-align: center;
  width: 250px;
}
.middle-part .middle-text h3 {
  font-weight: bold;
  text-align: center;
  padding-bottom: 1rem;
}
@media (min-width: 1000px) {
  .middle-part .middle-text {
    width: 400px;
  }
}

.movie-image {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 14rem;
}
@media (min-width: 700px) {
  .movie-image {
    width: 35rem;
  }
}

.about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: left;
}
@media (min-width: 1000px) {
  .about {
    flex-direction: row;
  }
}
.about .about-text {
  width: 18rem;
}
.about .about-text h2 {
  text-align: center;
}
@media (min-width: 1000px) {
  .about .about-text {
    width: 30rem;
    margin: 1rem;
  }
}

.horror-movie-image {
  margin: 1rem;
  width: 15rem;
}
@media (min-width: 1000px) {
  .horror-movie-image {
    width: 17rem;
  }
}

.landing-footer {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=index.css.map */
