<p>Hello <%= @user.name.presence || @user.email %>,</p>

<p>
  We heard you forgot your password. Happens to the best of us — especially
  after watching nine straight hours of public-domain sci-fi.
</p>

<p>
  To reset your RiffTube password and resume riffing like a Satellite of Love
  legend, click the link below:
</p>

<p>
  <%= link_to 'Reset my password',
  "#{ENV['FRONTEND_URL']}/reset_password?token=#{@token}" %>
</p>

<p>
  Didn’t ask for this? No problem. Just ignore this message. Nothing will
  happen. No drama. No explosions. Not even a slow zoom into someone’s panicked
  expression.
</p>
