# macOS
.DS_Store


# Node stuff (if root uses concurrently, etc.)
node_modules/


.idea/

# exclude log files, .env
*.log
.env
rifftube-personal.code-workspace

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
