nav {
  margin: 1rem;
  a {
    margin: 1rem;
  }
}

.top-part {
  background-color: $color-white;
  width: 100vw;
  height: 22rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;

  @media (min-width: 700px) {
    height: 43rem;
  }

  @media (min-width: 1000px) {
    margin-top: 5rem;
    height: 40rem;
  }

  .heading {
    display: flex;
    flex-direction: column;
    align-items: center;

    .heading-primary-main {
      font-size: 2rem;
      color: $color-gray;
      font-weight: 700;

      @media (min-width: 700px) {
        font-size: 4rem;
      }
    }
    .heading-primary-sub {
      width: 15rem;
      text-align: center;
      font-size: 1.2rem;
      color: $color-gray;
      @media (min-width: 700px) {
        font-size: 1.8rem;
        width: 19rem;
      }
    }
  }
}

.middle-part {
  width: 100vw;
  height: 90rem;
  text-align: center;
  display: flex;
  font-size: 1.2rem;
  align-items: center;
  flex-direction: column;
  background-color: $color-dark-gray;
  color: $color-white;
  padding-top: 5rem;

  .features {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    font-size: 1.2rem;

    @media (min-width: 1000px) {
      flex-direction: row;
      justify-content: center;
    }
    .feature {
      width: 15rem;
      text-align: center;
      margin: 2rem;
      h3 {
        color: $color-gray;
        font-weight: bold;
      }
    }
  }

  .middle-text {
    h3 {
      font-weight: bold;
      text-align: center;
      padding-bottom: 1rem;
    }
    text-align: center;
    width: 250px;

    @media (min-width: 1000px) {
      width: 400px;
    }
  }
}

.movie-image {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 14rem;

  @media (min-width: 700px) {
    width: 35rem;
  }
}

.about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: left;
  @media (min-width: 1000px) {
    flex-direction: row;
  }

  .about-text {
    width: 18rem;
    h2 {
      text-align: center;
    }

    @media (min-width: 1000px) {
      width: 30rem;
      margin: 1rem;
    }
  }
}

.horror-movie-image {
  margin: 1rem;
  width: 15rem;
  @media (min-width: 1000px) {
    width: 17rem;
  }
}
