@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

@import 'tailwindcss';

@theme {
  /* colors */
  --color-primary: #7c2020;
  --color-primary-dark: #5a2017;
  --color-flicker-white: #f5f5eb;
  --color-popcorn-butter: #deb665;
  --color-reel-dust: #262625;
  --color-backstage: #020a06;
  --color-vintage-teal: #263f40;
  --color-vintage-teal-dark: #1f2a2c;
  --color-silver-dust: #aaaaaa;
  --color-smoke: #606060;

  /* fonts */
  --font-sans: 'Work Sans', sans-serif;
  --font-serif: 'Limelight', serif;

  --breakpoint-md: 48rem; /* 768px */
  --breakpoint-lg: 64rem; /* 1024px */
}

@layer base, components, utilities;
