.navbar {
  font-size: $small;
  display: flex;
  justify-content: flex-start;
  width: 50rem;
  position: absolute;
  top: 0;
  left: 0;

  .navbar-link-active {
    border-bottom: 3px solid $color-primary;
    transition: border-bottom 0.5s ease-in-out;
  }
  a {
    margin-left: $small;

    @media (min-width: 700px) {
      margin-left: 1.7rem;
    }

    &:hover {
      color: $color-primary !important;
    }
  }

  @media (min-width: 700px) {
    font-size: $medium;
  }
}
