body,
html {
  max-width: 100%;
  overflow-x: hidden;
  background-color: $color-white;
  font-family: 'Roboto', sans-serif;
  color: $color-black;
  margin: 0;
  padding: 0;
}

p,
h3 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
